<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"></link>
</head>

<body>
    <div id="todo-list-example">
          <input
              v-model="newTodoText"
              v-on:keyup.enter="addNewTodo"
              placeholder="Add a todo"
          >
              <a
                  is="todo-item"
                  v-for="(todo, index) in todos"
                  v-bind:title="todo"
                  v-on:remove="todos.splice(index, 1)"
              ></a>
    </div>

    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="a.js"></script>
</body>
</html>
